.navbar-links {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Outfit', sans-serif;
    justify-content: space-between;
    box-shadow: 0px 4px 5px 0px rgba(114,114,114,0.75);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(114,114,114,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(114,114,114,0.75);
}

.navbar-links_logo {
    padding: 2rem 5rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.navbar-links_containers ul {
    padding: 2rem 5rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.navbar-links_logo h3 {
    color: black;
    font-size: 1.8rem;
    cursor: pointer;
}

.navbar-links_containers li,
.navbar-links_containers a {
    font-size: 1.6rem;
    color: black;
    font-weight: 900;
    list-style-type: none;
}

.navbar-links_containers li a {
    transition: all 0.3s ease 0;
}
.navbar-links_containers li a:hover {
    color: #0088a9;
}