#projectsTab {
    padding-top: 10rem;
}

.project-container {
    max-width: 1500px;
    margin: auto;
    padding: 0rem 2rem;
}

.project-container_header {
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding: 1rem 3rem;
}

.project-container_header h3 {
    font-size: 2.8rem;
}

.project-container_header p {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(100, 100, 100);
}

/* CARDS */
.project-container_card {
    margin-top: 4rem;
}

.project-container_card .card {
    margin-bottom: 3rem;
    padding: 3rem 2rem;
    background-color: #323232;

    color: white;
    border: 2px solid transparent;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.project-container_card .card:hover{
    background-color: rgb(100, 100, 100);
    border-color: #fff;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* CARD 1 */
.project-container_card__left1 {
    max-width: 600px;
    margin: auto;
}

.project-container_card__left1 h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.project-container_card__left1 h4 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.project-container_card__left1 hr {
    border: none;
    border-top: 5px solid #ffffff;
}

.project-container_card__left1 p {
    margin: 1.5rem 1rem;
    font-size: 1.4rem;
}

/* BUTTON NEW*/

.project-container_btn-container {
    margin: 1rem 1rem 0rem 1rem;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.project-container_btn:hover {
    cursor: pointer;
}

.project-container_btn {
    flex: 1;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.8rem 0rem;
    font-weight: 600;
    border-radius: 50px;
    border: 2px solid gray;
    color: black;
    background-color: white;
    transition: all 0.3s ease;
}

/* BUTTON OLD */

.project-container_btn-container {
    margin-top: 4rem;
}

.card_button {

    margin-bottom: 3rem;
    background-color: #323232;
    width: 50%;

    color: white;
    border: 2px solid transparent;
    border-radius: 50px;
    transition: all 0.3s ease;
    
    display: flex;
    justify-content: space-between;
}

.card_button:hover {
    background-color: rgb(100, 100, 100);
    border-color: #fff;
    cursor: pointer;
}

.project-container_btn__more:hover {
    cursor: pointer;
}

.card_button h1 {
    padding-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-container_btn__more {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 1rem 6rem;
    font-size: 30px;
    font-weight: 900;
}

.project-container_card__right1 {
    margin: 0rem 3rem 0rem 3rem;
    display: grid;
    justify-content: end;
}

.project-container_card__right1 img {
    height: 26rem;
    border-radius: 50px;
    box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.75);
}

@media (max-width: 1400px){
    /* CARDS */
    .card {
        text-align: center;
        gap: 5rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* CARD 1 */
    .project-container_card__left1 {
        max-width: 900px;
        margin: auto;
        order: 2;
    }

    /* Image */

    .project-container_card__right1 {
        margin: 0rem 3rem 0rem 3rem;
        display: grid;
        justify-content: center;
    }
}

@media (max-width: 900px){
    /* CARDS */
    .card {
        text-align: center;
        gap: 4rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* CARD 1 */
    .project-container_card__left1 {
        max-width: 900px;
        margin: auto;
        order: 2;
    }

    /* Image */

    .project-container_card__right1 {
        margin: 0rem;
        display: grid;
        justify-content: center;
    }

    .project-container_card__right1 img {
        width: calc(100% - 0.01rem);
        max-height: 26rem;
        height: fit-content;
    }

    /* Others */

    .project-container_header h3 {
        font-size: 2rem;
    }
    
    .project-container_header p {
        font-size: 0.7rem;
    }

    .project-container_card {
        margin-top: 1rem;
    }

    .project-container_card .card {
        margin-bottom: 3rem;
        padding: 3rem 2rem;
        border: 2px solid transparent;
    }

    /* CARD 1 */
    .project-container_card__left1 {
        max-width: 600px;
        margin: auto;
    }

    .project-container_card__left1 h3 {
        margin-bottom: 1rem;
        font-size: 1.6rem;
    }

    .project-container_card__left1 h4 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    .project-container_card__left1 hr {
        border-top: 3.5px solid #ffffff;
    }

    .project-container_card__left1 p {
        margin: 1.5rem 1rem;
        font-size: 1.2rem;
    }

    .project-container_btn-container {
        margin-top: 3rem;
    }

    .project-container_btn {
        padding: 0.8rem 2rem;
        font-size: 0.8rem;
        border: 2px solid gray;
    }
}

@media (max-width: 600px){    
    /* CARDS */
    .card {
        text-align: center;
        gap: 2rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* CARD 1 */
    .project-container_card__left1 {
        max-width: 900px;
        margin: auto;
        order: 2;
    }

    /* Image */

    .project-container_card__right1 {
        margin: 0rem;
        display: grid;
        justify-content: center;
    }

    .project-container_card__right1 img {
        /* width: calc(100% - 0.01rem); */
        /* height: fit-content; */
        border-radius: 15px;

        inline-size: 100%;
        aspect-ratio: 16/13;
        object-fit: cover;
    }

    .project-container_header h3 {
        font-size: 1.8rem;
    }
    
    .project-container_header p {
        display: none;
    }

    /* CARDS */
    .project-container_card {
        margin-top: 1rem;
    }

    .project-container_card .card {
        margin-bottom: 3rem;
        padding: 3rem 2rem;
        border: 2px solid transparent;

        border-radius: 15px;
    }

    /* CARD 1 */
    .project-container_card__left1 {
        max-width: 600px;
        margin: auto;
    }

    .project-container_card__left1 h3 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    .project-container_card__left1 h4 {
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    .project-container_card__left1 hr {
        border-top: 3.5px solid #ffffff;
    }

    .project-container_card__left1 p {
        margin: 1.5rem 1rem;
        font-size: 0.8rem;
    }

    .project-container_btn-container {
        margin-top: 2.5rem;
        font-size: 0.8rem;
    }

    .project-container_btn {
        padding: 0.5rem 6rem;
        border: 1px solid gray;
    }

    .project-container_btn {
        padding: 1rem 1rem;
        font-size: 0.8rem;
        border: 2px solid gray;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
}